{
  "name": "{{ package_name }}",
  "version": "0.0.0",
  "description": "Generated CrateStack TypeScript client package.",
  "type": "module",
  "main": "./dist/index.js",
  "types": "./dist/index.d.ts",
  "exports": {
    ".": {
      "types": "./dist/index.d.ts",
      "import": "./dist/index.js"
    }
{% if swr %},
    "./swr": {
      "types": "./dist/swr/index.d.ts",
      "import": "./dist/swr/index.js"
    },
    "./swr/models/*": {
      "types": "./dist/swr/models/*.d.ts",
      "import": "./dist/swr/models/*.js"
    },
    "./swr/procedures": {
      "types": "./dist/swr/procedures.d.ts",
      "import": "./dist/swr/procedures.js"
    },
    "./swr/procedures.hooks": {
      "types": "./dist/swr/procedures.hooks.d.ts",
      "import": "./dist/swr/procedures.hooks.js"
    }
{% endif %}
  },
  "files": [
    "dist"
  ],
  "scripts": {
    "build": "tsc -p tsconfig.json"
  },
  "peerDependencies": {
{% for dep in peer_dependencies %}    "{{ dep.name }}": "{{ dep.version }}"{% if not loop.last %},{% endif %}{{ "\n" }}{% endfor %}  },
  "dependencies": {
    "decimal.js": "^10.6.0"
  },
  "devDependencies": {
{% for dep in dev_dependencies %}    "{{ dep.name }}": "{{ dep.version }}"{% if not loop.last %},{% endif %}{{ "\n" }}{% endfor %}  }
}
