mod config;
mod http;
mod metadata;
mod proxy;
mod static_files;

use std::net::SocketAddr;

use anyhow::Result;
use config::StudioConfig;

#[tokio::main]
async fn main() -> Result<()> {
    let config = StudioConfig::from_env();
    let bind_addr: SocketAddr = config.bind_addr.parse()?;
    let app = http::router(config.clone());
    let listener = tokio::net::TcpListener::bind(bind_addr).await?;

    println!(
        "starting {} on http://{}{}",
        {{ app.name|tojson }},
        bind_addr,
        config.mount_path,
    );

    axum::serve(listener, app).await?;
    Ok(())
}
