[build]
target = "index.html"
dist = "dist"
public_url = "{{ app.assets_mount_path }}/"

[watch]
ignore = [".trunk"]

[[hooks]]
stage = "pre_build"
command = "pnpm"
command_arguments = ["run", "build:css"]
