use yew_router::prelude::Routable;

#[derive(Clone, PartialEq, Routable, Debug)]
pub enum Route {
    #[at("{{ app.mount_path }}")]
    StudioRoot,
    #[at("{{ app.mount_path }}/")]
    StudioRootSlash,
    #[at("{{ app.mount_path }}/contexts/:context")]
    Overview { context: String },
    #[at("{{ app.mount_path }}/contexts/:context/models/:model")]
    Model { context: String, model: String },
    #[at("{{ app.mount_path }}/contexts/:context/procedures/:procedure")]
    Procedure { context: String, procedure: String },
    #[at("{{ app.mount_path }}/contexts/:context/api")]
    Api { context: String },
    #[at("{{ app.mount_path }}/contexts/:context/queries/:id")]
    Query { context: String, id: u32 },
    #[not_found]
    #[at("{{ app.mount_path }}/404")]
    NotFound,
}
