use yew::prelude::*;

#[derive(Properties, PartialEq)]
pub struct JsonViewProps {
    pub text: AttrValue,
}

#[function_component(JsonView)]
pub fn json_view(props: &JsonViewProps) -> Html {
    html! {
        <pre class="studio-code-block monospace">{ props.text.clone() }</pre>
    }
}
